<ion-content class="ion-padding">
  <ion-content class="ion-padding">
    <ion-card-header>
      <ion-card-title>User Details</ion-card-title>
    </ion-card-header>
    <ion-card class="user-details-card">
      <ion-card-content>
        <ion-avatar class="user-avatar">
          <img [src]="user.profilePhoto" alt="Profile Photo" />
        </ion-avatar>
        <h2 class="user-name">{{ user.name }}</h2>
        <div class="field">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>{{ user.email }}</ion-label>
        </div>
        <div class="field">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>{{ user.location }}</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-button class="logout" expand="full" color="primary" (click)="logout()"
      >Log out</ion-button
    >
  </ion-content></ion-content
>
