<swiper-container
  [slidesPerView]="1.5"
  [centeredSlides]="true"
  [loop]="false"
  [spaceBetween]="20"
  [autoplay]="true"
  class="ion-margin-top"
>
  <swiper-slide>
    <ion-card>
      <a
        href="https://www.philstar.com/headlines/climate-and-environment/2024/04/30/2351570/heatwave-baking-parts-asia"
      >
        <img src="../assets/SLIDER-1.png" />
      </a>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <a
        href="https://www.philstar.com/headlines/climate-and-environment/2024/04/30/2351365/crocodile-hunting-wanes-legends-live-dr-congo"
      >
        <img src="../assets/SLIDER-2.png" />
      </a>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <a
        href="https://www.philstar.com/headlines/climate-and-environment/2024/04/27/2350867/plastics-pollution-may-be-solved-without-production-cap-canada-minister"
      >
        <img src="../assets/SLIDER-3.png" />
      </a>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <a
        href="https://www.philstar.com/headlines/climate-and-environment/2024/04/29/2351337/denr-seeks-public-participation-verify-philippine-mangrove-map"
      >
        <img src="../assets/SLIDER-4.png" />
      </a>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <a
        href="https://www.philstar.com/headlines/climate-and-environment/2024/04/26/2350611/extreme-climate-blamed-worlds-worst-wine-harvest-62-years"
      >
        <img src="../assets/SLIDER-5.png" />
      </a>
    </ion-card>
  </swiper-slide>
</swiper-container>
