<ion-header class="ion-no-border" >
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <img src="../assets/EcoPinoy_Logo.png" class="image1" alt="">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button id="click-trigger">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">You don't have any notification</ion-content>
          </ng-template>
        </ion-popover>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <h1>DAILY CHALLENGES</h1>
    <ion-row>
      
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-1" (click)="navigateToQuiz('quiz')" [ngClass]="{ 'locked1': !isQuizUnlocked('quiz') }" [style.background-image]="'url(../assets/11.png)'">

        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-2" (click)="navigateToQuiz('quiz2')" [ngClass]="{ 'locked2': !isQuizUnlocked('quiz2') }" [style.background-image]="'url(../assets/22.png)'">
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-3" (click)="navigateToQuiz('quiz3')" [ngClass]="{ 'locked3': !isQuizUnlocked('quiz3') }" [style.background-image]="'url(../assets/33.png)'">
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-4" (click)="navigateToQuiz('quiz4')" [ngClass]="{ 'locked4': !isQuizUnlocked('quiz4') }" [style.background-image]="'url(../assets/44.png)'">
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="card-5" (click)="navigateToQuiz('quiz5')" [ngClass]="{ 'locked5': !isQuizUnlocked('quiz5') }" [style.background-image]="'url(../assets/55.png)'">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>