<swiper-container [slidesPerView] = "3" [centeredSlides] = "true" [loop] = false 
  [spaceBetween] = "20"  [autoplay] = "true" class="ion-margin-top">
  <swiper-slide>
    <ion-card>
      <img src="../assets/1.png">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/2.png">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/3.png">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/4.png">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/5.png">
    </ion-card>
  </swiper-slide>

</swiper-container>