<main>
  <div id="header">
    <h1>Ranking</h1>
    <button class="share">
      <ion-icon name="share-social-outline"></ion-icon>
    </button>
  </div>
  <div id="leaderboard">
    <div class="ribbon"></div>
    <table>
      <tr>
        <td class="number">1</td>
        <td class="name">Lemuel Madriaga</td>
        <td class="points">
          258.244
          <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
        </td>
      </tr>
      <tr>
        <td class="number">2</td>
        <td class="name">Coren Andino</td>
        <td class="points">258.242</td>
      </tr>
      <tr>
        <td class="number">3</td>
        <td class="name">Caren Tolentino</td>
        <td class="points">258.223</td>
      </tr>
      <tr>
        <td class="number">4</td>
        <td class="name">Oliver Luis Aromin</td>
        <td class="points">258.212</td>
      </tr>
      <tr>
        <td class="number">5</td>
        <td class="name">John Dela Cruz</td>
        <td class="points">258.208</td>
      </tr>
    </table>
    <!--
    <div id="buttons">
      <button class="exit">Exit</button>
      <button class="continue">Continue</button>
    </div>
    -->
  </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
